QMainWindow {
    background-color: #2b2b2b;
}

QMenuBar {
    background: #333333;
    color: white;
}

QMenuBar::item:selected {
    background: #505050;
}

QMenu {
    background: #333333;
    color: white;
}

QToolBar {
    background: #383838;
    spacing: 5px;
}

QStatusBar {
    background: #2f2f2f;
    color: white;
}

QDockWidget {
    color: white;
}

QTreeWidget,
QTextEdit {
    background: #202020;
    color: white;
    border: 1px solid #555;
}

QLabel {
    color: white;
}